.result-p{
    text-align: center;
    font-weight: bold;
}

ion-label{
    font-weight: bold;
}

.joy-item{
    --background: #fff58a;
}

.surprise-item{
    --background: #fcc2ff;
}

.anger-item{
    --background: #ffabab;
}

.sadness-item{
    --background: #ace7ff;
}

.disgust-item{
    --background: #bffcc6;
}

.others-item{
    --background: #deddd6;
}

.emotion-text{
    font-weight: bold;
    text-align: center;
}