<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button fill="clear" color="dark" (click)="goBack()">
    <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
  </ion-button>
  <h1>Registro | Datos de la cuenta</h1>
  <div [formGroup]="accountDataForm">
    <ion-item fill="outline">
      <ion-input placeholder="Email" inputmode="email" formControlName="email"></ion-input>
      <ion-note slot="error" color="danger" *ngIf="emailControl.dirty && emailControl.invalid">
        {{emailControl | errorMessage}}
      </ion-note>
    </ion-item>
    <ion-item fill="outline" class="ion-margin-top">
      <ion-input maxlength="15" placeholder="Contraseña" type="password" formControlName="password"></ion-input>
      <ion-note slot="error" color="danger" *ngIf="passwordControl.dirty && passwordControl.invalid">
        {{passwordControl | errorMessage}}
      </ion-note>
    </ion-item>
    <ion-button [disabled]="accountDataForm.invalid" class="ion-margin-top" expand="block" id="btn" color="dark" (click)="saveForm()" [disabled]="accountDataForm.invalid">
      SIGUIENTE
    </ion-button>
  </div>
</ion-content>